<!-- <div class="new_question">
	<form action="/questions" method="POST">
		<p>url: <input type="text" name="question[url]"></p>
		<p>title: <input type="text" name="question[title]"></p>
		<input type="hidden" name="question[user_id] value='1'">  
		<input type="submit">
	</form>
</div> -->

<div class="error_message">
  <p> <%= display_errors! %> </p>
</div>

<%= form_for :question, url: {action: "create"}, html: {class: "new_question"} do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :url %>:
  <%= f.text_field :url %><br />

  <%= f.label :user_id %>:
  <%= f.text_field :user_id %><br />

  <%= f.submit %>
<% end %>
