<h1><%= @question.title %></h1><br>
 <%= link_to("Add new Answer", new_question_answer_path(@question)) %><br>
 Question Comment form <%= render partial: "form"%>
<% @question.comments.each do |comment| %>
  <%= comment.content %><br>
<% end %>
<!-- if best, show div -->
<% if @question.best %>
<div class="the-best">
  <h3>Best Answer</h3>
<%= link_to("Up Vote", "/") %>
  <p><%= @question.best.content %></p>
</div>
<% end %>
<% @question.answers.each do |answer| %>
  Answer:<%= answer.content %><br>
  Votes: <span class="make-answer-up-votes" id="<%= answer.id%>"><%= answer.votes.count %></span>
  <%= link_to("Up Vote", '/', class: "up-vote-answer", data: { direction: "up", url: "/questions/#{@question.id}/answers/#{answer.id}/votes", answer_id: answer.id, question_id: @question.id, votable_type: "Answer" }) %>
  <%= link_to("Down Vote", '/', class: "up-vote-answer", data: { direction: "down", url: "/questions/#{@question.id}/answers/#{answer.id}/votes", answer_id: answer.id, question_id: @question.id, votable_type: "Answer" }) %>
      Answer Comment form <%= render partial: "answers/form", locals: {answer: answer}%>
  <% answer.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>

<% end %>